<html>
<body>
    <h2>Add New Listing</h2>
    <a href="/">Back to home</a>

    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_accountid" class="control-group"> <label for="id_accountid" class="control-label requiredField">
        Place ID<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="id" maxlength="16" class="textinput textInput" required="" id="id_id"> </div> </div> <div id="div_id_neighborhood" class="control-group"> <label for="id_neighborhood" class="control-label requiredField">
        Account ID<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="accountid" maxlength="16" class="textinput textInput" required="" id="id_accountid"> </div> </div> <div id="div_id_room_name" class="control-group"> <label for="id_room_name" class="control-label requiredField">
        Title<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="room_name" maxlength="64" class="textinput textInput" required="" id="id_room_name"> </div> </div> <div id="div_id_id" class="control-group"> <label for="id_id" class="control-label requiredField">
        Country<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="id" maxlength="16" class="textinput textInput" required="" id="id_id"> </div> </div> <div id="div_id_neighborhood" class="control-group"> <label for="id_neighborhood" class="control-label requiredField">
        City<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="id" maxlength="16" class="textinput textInput" required="" id="id_id"> </div> </div> <div id="div_id_neighborhood" class="control-group"> <label for="id_neighborhood" class="control-label requiredField">
        Price<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="price" maxlength="16" class="textinput textInput" required="" id="id_price"> </div> </div> 
        Type<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="id" maxlength="16" class="textinput textInput" required="" id="id_id"> </div> </div> <div id="div_id_neighborhood" class="control-group"> <label for="id_neighborhood" class="control-label requiredField">
        Address<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="id" maxlength="16" class="textinput textInput" required="" id="id_id"> </div> </div> <div id="div_id_neighborhood" class="control-group"> <label for="id_neighborhood" class="control-label requiredField">
        Number of Guests<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="id" maxlength="16" class="textinput textInput" required="" id="id_id"> </div> </div> <div id="div_id_neighborhood" class="control-group"> <label for="id_neighborhood" class="control-label requiredField">
        Number of Bedrooms<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="id" maxlength="16" class="textinput textInput" required="" id="id_id"> </div> </div> <div id="div_id_neighborhood" class="control-group"> <label for="id_neighborhood" class="control-label requiredField">
        Kitchen<span class="asteriskField">*</span> </label> <select name="Kitchen" id="Kitchen" required>
  <option value="Yes">Yes</option>
  <option value="No">No</option>
  </select> <br>
        Parking<span class="asteriskField">*</span> </label> <select name="Parking" id="Parking" required>
  <option value="Yes">Yes</option>
  <option value="No">No</option>
  </select> <br>
        Wifi<span class="asteriskField">*</span> </label> <select name="Wifi" id="Wifi" required>
  <option value="Yes">Yes</option>
  <option value="No">No</option>
  </select> <br>
        Smoking Allowed<span class="asteriskField">*</span> </label> <select name="Smoking allowed" id="Smoking allowed" required>
  <option value="Yes">Yes</option>
  <option value="No">No</option>
  </select> <br>
        Pets Allowed<span class="asteriskField">*</span> </label> <select name="Pets Allowed" id="Pets Allowed" required>
  <option value="Yes">Yes</option>
  <option value="No">No</option>
  </select> <br>
        Air-conditioning<span class="asteriskField">*</span> </label> <select name="Aircon" id="Aircon" required>
  <option value="Yes">Yes</option>
  <option value="No">No</option>
  </select> <br>
        TV<span class="asteriskField">*</span> </label> <select name="TV" id="TV" required>
  <option value="Yes">Yes</option>
  <option value="No">No</option>
  </select> <br>
        Washing Machine<span class="asteriskField">*</span> </label> <select name="Washing Machine" id="Washing Machine" required>
  <option value="Yes">Yes</option>
  <option value="No">No</option>
  </select> <br>
        <br>
        <button type="submit" value="Add">Add</button>
    </form>
</body>
</html>
